@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
}
.header{
    background-color: #7F6DF2;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .header-logo img{
    height: 6.25rem;
    width: 6.25rem;
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 1.25rem;
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}
/* index main */
.main-index{
    background-color: #7F6DF2;
}
.section-principal{
    font-size: 1.5625rem;
    width: 100%;
    height:25%;
    background-color: #62A1D9;
}
.section-principal div a{
    text-decoration: none;
    color: #000;
    font-size: 1.5625rem;
}
.section-principal div img{
    width: 25%;
    height: 31.25rem;
}
.index-banner div{
    width: 50%;
    }
    .index-banner div img{
    width: 100%;
    height: 21.875rem;
    }
.card{
    background-color: rgba(240, 248, 255, 0.507);
        width: 21.875rem;
        height:  25rem;
        margin: 40px;
        box-shadow: 2px 2px 5px grey;
        text-align: center;
}
.card div{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}
.card div img{
    width: 100%;
    height: 100%;
}
.card button a{
    text-decoration: none;
    color: #000;
    font-size: 1.5625rem;
}
.info-index{
    background-color: rgba(240, 248, 255, 0.507);
    width: 21.875rem;
    height: 12.5rem;
    margin: 40px;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
}
/* footer global */
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding:  2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo{
        width: 100%;
        height: 100%;
        width: 9.375rem;
        height: 9.375rem;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.footer-icono{
    height: 5rem;
    width: 5rem;
    border-radius: 3.125rem;
    border: .0625rem solid #f2f2f2;
    background-image: url(../assets/img/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
    background-color: #62A1D9;
}
.footer-icono:nth-of-type(2){
    background-image: url(../assets/img/instagram.png);
}
.footer-icono:nth-of-type(3){
    background-image: url(../assets/img/twitter.png);
}
.info-footer{
    list-style: none;
    color: #62A1D9;
    font-size: 1.125rem;
}
.link-footer{
    margin: 1rem 1.5rem;
    cursor: pointer;
    list-style: none;
    color: #000;
    font-size: 1.125rem;
    text-decoration: none;
}
/* .footer a{
    text-decoration: none;
    color: #000;
    font-size: 1.75rem;
}
.footer div{
    width: 9.375rem;
    height: 9.375rem;
}
.footer div img{
    width: 100%;
    height: 100%;
} */
/* .footer-logo{
    width: 100%;
    height: 100%;
    width: 9.375rem;
    height: 9.375rem;
} */
/* .redes-sociales a img{
    font-size: 1.75rem;
    text-decoration: none;
    width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    line-height: 3.75rem;
    background: #62A1D9;
    border: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0);
} */

/* main usuario */
.main-contactanos{
    background-color: #252640;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-contactanos form{
    padding: 3.125rem 3.4375rem;
    box-shadow: 0 0 1.25rem black;
    border-radius: 1.25rem;
    align-items: center;
    width: 31.25rem;
    background-color: #7F6DF2;

}
.contactanos-inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-contactanos label {
    height: .9375rem;
    color: #000;
    font-weight: 600;
    margin-bottom: .9375rem;
}
.form-contactanos input, textarea {
    padding: 1.0625rem 1.5625rem;
    border-radius: 1.5625rem;
    margin-bottom: 1.25rem;
    background-color: #62a2d975;
    border: .125rem solid ;
}
.form-contactanos input::placeholder, textarea::placeholder{
    color: black;
}
.texto-form{
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.texto-form a{
    color: #252640;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none;
}
.contactanos-boton{
    font-size: 1rem;
    color: #252640;
    border: 0;
    border-radius: 1.5625rem;
    background-color:#62a2d975;
    box-shadow: 0 0 1.25rem #62a2d956;
}



/* ayuda main */
.main-ayuda{
    background-color: #62A1D9;
}
.ayuda-ubicaciones div{
    width: 100%;
    height: 40%;
    background-color: #21374b96;
}
.ayuda-ubicaciones div iframe{
    width: 18.75rem;
    height: 18.75rem;
    margin: 1.25rem 1.25rem;
}
.ayuda-banner div{
    width: 100%;
    height: 31.25rem;

}
.ayuda-banner div  img{
    width: 70%;
    height: 25rem;

}
.info-ayuda{
    background-color: rgba(240, 248, 255, 0.507);
    width: 21.875rem;
    height:  12.5rem;
    margin: 40px;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
}
/* productos main */
.main-productos{
    background-color: #252640;
}
.productos-banner div{
    width: 100%;
    height: 31.25rem;
    margin-top: 1.25rem;

}
.productos-banner div  img{
    width: 100%;
    height: 100%;

}
.productos-card{
    background-color: rgba(240, 248, 255, 0.507);
        width: 15.625rem;
        height: 25rem;
        margin: 40px;
        box-shadow: 2px 2px 5px grey;
        text-align: center;
}
.productos-card div{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}
.productos-card div img{
    width: 100%;
    height: 100%;
}
.productos-carrucel{
    background-color: rgba(240, 255, 255, 0.479);
    margin-bottom: 2.5rem;
}
.productos-carrucel article{
    width: 100%;
    height:900px;
}

.catalogo-productos{
    background-color: rgb(240, 255, 255);
    margin-bottom: 2.5rem;
}
.catalogo-productos article{
    width: 100%;
    height:900px;
}
/* main carrito */
.main-carrito{
    background-color: #B86AD9;
}
.productos-carrito{
    background-color: #62A1D9;
    margin-bottom: 2.5rem;
}
.carrito-card{
    background-color: rgba(240, 248, 255, 0.507);
        width: 37.5rem;
        height: 25rem;
        margin: 40px;
        box-shadow: 2px 2px 5px grey;
        text-align: left;
}
.carrito-card div{
    width: 15.625rem;
    height: 18.75rem;
    object-fit: cover;
}
.carrito-card div img{
    width: 100%;
    height: 100%;
}
.carrito-box{
    background-color: rgb(240, 248, 255);
        width: 37.5rem;
        height: 25rem;
        margin: 40px;
        box-shadow: 2px 2px 5px grey;
}
.carrito-box div h2{
    font-size: 2.5rem;
    text-align: center;
}
.carrito-box div p{
    font-size: 1.25rem;
    padding: .625rem;
}
.carrito-boton button{
    width: 12.5rem;
    height: 120px;
    font-size: 1.25rem;
    background-color: #62A1D9;
    box-shadow: 2px 2px 5px grey;
    border-radius: 20%;
}
.carrito-boton button a{
    color: #000;
    text-decoration: none;
    font-size: 1.25rem;
}